.expandable-list {
    text-align: left;
}
.expandable-list--item {
    border-bottom: 0.1rem solid #E4E4E4;
}
.expandable-list--item--title {
    @include flex();
    @include justify-between();
    padding-top: 2rem;
    padding-bottom: 1.2rem;
    cursor: pointer;
    @media(min-width: $min-md) {
        padding-top: 3.5rem;
    }
}
.expandable-list--item--title h2 {
    font-size: 2.2rem;
}
.expandable-list--item--title:after {
    content: "+";
    font-size: 2.2rem;
    font-weight: 500;
    color: #0E61EC;
    right: 0;
    position: relative;
}
.expandable-list--item.open .expandable-list--item--title:after {
        content: "-";
    }
.expandable-list--item--description {
    opacity: 0;
    max-height: 0.8rem;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    @media(min-width: $min-md) {
        max-height: 3rem;
    }
}
.expandable-list--item.open .expandable-list--item--description {
    opacity: 1;
    max-height: 300px;
    padding-bottom: 2.5rem;
}

.techstack {
    position: relative;
    height: 500px;
    width: 500px;
    top: 50px;
    left: 250px;
    @media(max-width: $min-md) {
        display: none;
    }
}

img.techstack--img--mobile {
    width: 100%;
    padding-bottom: 4rem;
    max-height: 40rem;
    @media(min-width: $min-md) {
        display: none;
    }
}

.techstack img.techstack--img {
    position: absolute;
    transition: all 0.2s ease-in-out;

    &.application-layer {
        z-index: 10;
        width: 500px;
        top: 0;
        left: 0;
        &.selected {
            top: 90px;
            left: -150px;
        }
    }

    &.dark-pool-layer {
        z-index: 7;
        width: 300px;
        bottom: 219px;
        left: 0;
        &.selected {
            bottom: 135px;
            left: -150px;
        }
    }

    &.interoperability-layer {
        z-index: 8;
        width: 300px;
        bottom: 158px;
        left: 98px;
        &.selected {
            bottom: 74px;
            left: -53px;
        }
    }

    &.zero-knowledge-transactions {
        z-index: 9;
        width: 300px;
        bottom: 96px;
        left: 202px;
        &.selected {
            bottom: 12px;
            left: 51px;
        }
    }

    &.renvm {
        z-index: 6;
        width: 500px;
        left: 0;
        bottom: 0;
        &.selected {
            bottom: -84px;
            left: -150px;
        }
    }
}

.section--techstack {
    display: flex;
    @media(max-width: $min-md) {
        flex-direction: column;
    }
}