.featurettes {
    position: relative;
    font-weight: 500;
    padding-bottom: 10rem;
    color: #3F3F48;
    overflow: hidden;
    margin-top: 10rem;
    &::after {
        background: url('#{$images}/grey-oval.svg') no-repeat top;
        position: absolute;
        content: ' ';
        height: 100%;
        width: 100%;
        top: 2rem;
        z-index: -1;
    }
}
.featurettes--items {
    @include row();
    text-align: center;
    // @media (min-width: $min-md) {
    //     text-align: left;
    // }
}
.featurettes--items > div {
    @include col-xs-12();
    @include col-md-4();
}
.featurettes--items > div + div {
    margin-top: 4rem;
    @media(min-width: $min-md) {
        margin-top: 0;
        padding-left: 2rem;
    }
    @media(min-width: $min-lg) {
        padding-left: 5rem;
    }
}
.featurettes--items img {
    max-width: 7rem;
    margin-bottom: 2rem;
}
.featurettes--items .featurettes--item {
    @include flex();
    align-items: center;
    flex-direction: column;
}
.featurettes--items h2.featurette--title {
    color: #F5F5F5;
    font-weight: bold;
    font-size: 2.4rem;
}
.featurettes--items p {
    max-width: 19rem;
    line-height: 2.5rem;
    font-size: 1.8rem;
}
.featurettes--items img + p {
    margin-top: 1.5rem;
}
.featurettes--items p + p {
    margin-top: 0.6rem;
    font-size: 1.8rem;
    line-height: initial;
}