.featured {
    background-image: url('#{$images}/illustration-header.svg');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
    @media(min-width: $min-md) {
        background-size: 60%;
    }

    &.section .container {
        padding-bottom: 0;
        @media(min-width: $min-xl) {
            padding-bottom: 20rem;
        }
    }
}

.featured .row {
    height: 100%;
}
.featured--content {
    @include col-xs-12();
    @include col-md-10();
    @include col-lg-6();
    overflow: hidden;
    padding: 10rem 2rem;
    text-align: center;
    @media(min-width: $min-md) {
        align-self: center;
        text-align: left;
        padding: 0;
    }
}
.featured--content img + .content--heading,
.featured--content .content--heading + .content--heading {
    margin-top: 3rem;
    @media(min-width: $min-md) {
        margin-top: 4rem;
    }
}
.featured .content--heading h1 {
    color: $dark-grey;
    font-size: 55pt;
    font-weight: bold;
    @media(min-width: $min-md) {
        font-size: 76pt;
        line-height: 90pt;
    }
}
.featured .content--body p {
    color: $light-grey;
}
.featured .content--body > *:first-child:not(.content--links) {
    margin-top: 4rem;
}
.featured .content--buttons {
    margin-top: 0;
}
.featured .button {
    color: $dark-grey;
    background-color: white;
}
.featured .button--alt {
    color: white;
    background-color: transparent;
    border-color: white;
}
.featured .button--alt:hover {
    color: $navy;
}
.featured .button--alt:before {
    background-color: white;
}

.featured .content--link.litepaper {
    padding-left: 2rem;
}

.featured--button {
    .content--body & {
        margin-right: 2rem;
        margin-bottom: 1rem;
    }

    font-weight: 500;
    font-size: 1.4rem;
    min-width: 20rem;
    height: 4rem;
    line-height: 4rem;
    border: 0;
    border-radius: 0.6rem;
    text-align: center;
    vertical-align: middle;

    &.primary {
        background-image: linear-gradient(-181deg, #00A8F5 0%, #006FE8 100%);
        color: white;
    }

    &.secondary {
        color: #006FE8;
        border: 0.16rem solid #006FE8;
    }

    & .button--icon {
        margin-right: 1.5rem;
    }
}

.featured .featured--buttons {
    margin-top: 6rem;
    margin-bottom: 6rem;
    font-weight: 500;
}

.social--links {
    font-size: 1.3rem;
    margin-top: 1rem;
    .social {
        margin-right: 4rem;
        margin-bottom: 1rem;
    }

    .social--icon {
        margin-right: 1rem;
    }
}
