.github--top--repos {
  @include flex();
  width: 100%;
  flex-flow: row wrap;
}


.github--block {
  @include col-xs-12();
  @include col-sm-4();

  .repo--stat--icon {
    margin-right: 0.5rem;
  }


  .repo--lang {
    @include flex();

    .repo--lang--dot {
      width: 1.2rem;
      position: relative;

      svg {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}