.github--top--repos {
  @include flex();
  width: 100%;
  flex-flow: row wrap;
}


.gh--block {
  @include col-xs-12();
  @include col-md-6();
  @include col-lg-4();
  @include flex();
  justify-content: space-between;
  flex-direction: column;
  padding: 2rem;

  h2 {
    font-size: 1.6rem;
    font-weight: 500;
  }

  p {
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: #87888C;
  }

  .repo--stat--icon {
    margin-right: 0.5rem;
  }


  .repo--lang {
    @include flex();

    .repo--lang--dot {
      width: 1.2rem;
      position: relative;
      margin-top: -50%;

      svg {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  .gh--footer {
    @include flex();
    justify-content: space-between;
    margin-top: 3rem;
    border-bottom: 0.1rem solid #DBE0E8;
  }

  .repo--stats {
    @include flex();
    align-items: center;
    margin-bottom: 2.5rem;

    & > div {
      @include flex();
      align-items: center;
      font-size: 1.4rem;
      font-weight: 500;
      color: #3F3F48;
      margin-right: 2rem;
    }
  }

  .repo--timeago {
    font-weight: 500;
    font-size: 1.4rem;
    color: #CBCBCB;
  }
}