.milestones {
    width: 100%;

    .milestone--block--title {
        @include col-xs-6();
    }

    .milestone--block--date {
        @include col-xs-2();
    }

    .milestone--block--tags {
        @include col-xs-3();
    }
}

.milestone--block--footer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;

    .open & {
        max-height: 30rem;
        transition: max-height 0.2s ease-in;
    }
}

.milestone--block--tag {
    color: white;
    background-color: #979797;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    margin-right: 1.5rem;
    display: inline-block;
    font-size: 1.2rem;
    
    &.development {
        background-color: #55B1E7;
    }

    &.business {
        background-color: #946CF6;
    }

    &.research {
        background-color: #DE73B3;
    }
}

.milestone--block, .milestones--header {
    @include flex();
    justify-content: space-between;

    &::after {
        content: '+';
        color: #006FE8;
        font-size: 2.2rem;
        font-weight: 500;
    }

    .open &::after {
        content: '-';
    }

}

.milestones--list {
    padding-left: 5rem;
}

.milestone--block--container {
    &::before {
        border: solid 0.7rem transparent;
        background-clip: padding-box;
        background-color: #007DDF;
        position: absolute;
        border-radius: 2.5rem;
        content: ' ';
        height: 2.5rem;
        width: 2.5rem;
        left: 3.5rem;

    }
    &::after {
        position: absolute;
        left: 0;
        content: ' ';
        border-left: solid 0.2rem #007DDF;
        display: block;
    }

    &.open::before {
        border-color: #D9EBFA;
    }
}

.milestone--block {
    padding: 2rem 0;
    border-top: solid 0.1rem #DBE0E8;
    cursor: pointer;
    user-select: none;

    .milestone--block--title {
        font-size: 1.8rem;
    }

    .milestone--block--date {
        font-size: 1.6rem;
        color: #87888C;
    }

    .milestone--block--tags {
        font-size: 1.2rem;
    }

    &.achieved .milestone--block--title {
        color: #3F3F48;
        font-weight: 500;
    }
}

.milestones--header {
    font-size: 1.8rem;
    font-weight: 500;
    color: #87888C;
    padding-bottom: 1.5rem;

    &::after {
        opacity: 0;
    }
}

.milestones--filter {
    padding-bottom: 3rem;

    h2 {
        font-size: 1.4rem;
        font-weight: 500;
        color: #979797;
        padding-bottom: 2rem;
    }

    .milestone--block--tag {
        cursor: pointer;
        user-select: none;

        &.filtered {
            opacity: 0.5;
        }
    }
}