.milestones {
    width: 100%;

    @media (min-width: $min-md) {
        .milestone--block--title {
            @include col-xs-6();
        }

        .milestone--block--date {
            @include col-xs-2();
        }

        .milestone--block--tags {
            @include col-xs-3();
        }
    }
}

.milestone--block--footer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;

    .open & {
        max-height: 30rem;
        transition: max-height 0.2s ease-in;
    }

    p {
        padding-bottom: 1rem;
    }
    .milestone--block--footer--content {
        padding-bottom: 2rem;
    }
}

.milestone--block--tag {
    color: white;
    background-color: #979797;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    margin-right: 1.5rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    font-size: 1.2rem;
    
    &.development {
        background-color: #55B1E7;
    }

    &.business {
        background-color: #946CF6;
    }

    &.research {
        background-color: #DE73B3;
    }
}

.milestone--block, .milestones--header {
    @include flex();
    justify-content: space-between;

    &::after {
        content: '+';
        color: #006FE8;
        font-size: 2.2rem;
        min-width: 2rem;
        text-align: center;

        @media (max-width: $min-md) {
            display: none;
        }
    }

    .open &::after {
        content: '-';
    }

}

.milestones--list {
    @media (min-width: $min-md) {
        margin-bottom: 5rem;
        padding-left: 10rem;
    }
}

.milestone--block--container {
    position: relative;

    &::before {
        position: absolute;
        @media (min-width: $min-md) {
            content: ' ';
        }
    }

    &.achieved::before {
        height: 2.6rem;
        width: 2.6rem;
        left: -9.5rem;
        top: 1.1rem;
        background-color: white;
        border: 0.8rem solid transparent;
        border-radius: 50%;
        background-color: #007DDF;
        background-clip: padding-box;
        // border-color: #007DDF;
    }

    &.achieved:not(.next-achieved)::before {
        // border-color: #D9EBFA;
        border-color: rgba(0, 111, 232, 0.15);
        // background-clip: initial;
        // background-color: white;
    }

    &:not(.achieved)::before {
        height: 1.8rem;
        width: 1.8rem;
        left: -8.7rem;
        top: 1.1rem;
        background-color: white;
        border: 0.4rem solid #EBEDF2;
        border-radius: 50%;
    }

    &.open:not(.achieved)::before {
        border-color: #EBEDF2;
        background-color: white;
    }

    &::after {
        position: absolute;
        left: -7.6rem;
        top: 2rem;
        z-index: -1;
        border-left: solid 0.4rem #EBEDF2;
        height: 100%;

        @media (min-width: $min-md) {
            content: ' ';
        }
    }

    &.achieved.next-achieved::after {
        border-color: #007DDF;
    }

}

.milestone--block {
    padding: 2rem 0;
    border-top: solid 0.1rem #DBE0E8;
    cursor: pointer;
    user-select: none;

    @media (max-width: $min-md) {
        flex-direction: column;
    }

    .milestone--block--title {
        font-size: 1.8rem;
    }

    .milestone--block--date {
        font-size: 1.6rem;
        color: #87888C;

        @media (max-width: $min-md) {
            text-align: right;
        }
    }

    .milestone--block--tags {
        font-size: 1.2rem;
    }

    .achieved & .milestone--block--title {
        color: #3F3F48;
    }
}

.milestones--header {
    font-size: 1.8rem;
    color: #87888C;
    padding-bottom: 1.5rem;

    &::after {
        opacity: 0;
    }

    @media (max-width: $min-md) {
        display: none;
    }
}

.milestones--filter {
    padding-top: 2rem;
    padding-bottom: 3rem;

    h2 {
        font-size: 1.4rem;
        font-weight: bold;
        color: #979797;
        padding-bottom: 2rem;
    }

    .milestone--block--tag {
        cursor: pointer;
        user-select: none;

        &.filtered {
            opacity: 0.5;
        }
    }
}

.milestone--link {
    border: 0.1rem solid #006FE8;
    border-radius: 0.2rem;
    padding: 1rem;
    font-size: 1.2rem;

    span {
        margin-left: 0.5rem;
    }
}