@import '../node_modules/tocbot/src/scss/tocbot-core';
@import '../node_modules/tocbot/src/scss/tocbot-default-theme';

.renvm {
    // Fix for fixed header
    h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
        display: block;
        content: " ";
        height: 8rem;
        margin-top: -8rem;
        visibility: hidden;
    }
}

.renvm .renvm--toc {
    position: fixed;
    background: white;
    top: 50%;
    left: 0;
    z-index: 999;
}

.renvm .section.section--renvm {
    background-image: url('#{$images}/renvm-circle-lines.svg');
    background-color: #FCFCFD;
    background-repeat: no-repeat;
    background-position: center right;

    .featured--content p {
        font-size: 1.8rem;
        color: #87888C;
    }

    .featured--buttons {
        margin-top: 6rem;
        margin-bottom: 6rem;

        .featured--button {
            padding: 0 2rem;
        }
    }
}