.renvm {
    // Fix for fixed header
    h1::before,
    h2::before,
    h3::before,
    h4::before,
    h5::before,
    h6::before {
        display: block;
        content: " ";
        height: 8rem;
        margin-top: -8rem;
        visibility: hidden;
    }
}

.renvm .renvm--toc {
    position: fixed;
    background: white;
    top: 30%;
    left: 0;
    z-index: 999;
    width: 40rem;
    transition: all 0.3s ease-in-out;

    &::after {
        content: ' ';
        background-color: #FCFCFD;
        position: absolute;
        width: 2rem;
        height: 100%;
        top: 0;
        right: 0;
    }

    &.hidden {
        margin-left: -40rem;
        .toc--button {
            opacity: 0.5;
            background-color: #006fe8;

            &:hover {
                @media (min-width: $min-xl) {
                    right: -4rem;
                }
            }
        }
    }

    .toc--button {
        cursor: pointer;
        position: absolute;
        height: 3rem;
        width: 4rem;
        right: -2rem;
        top: 2rem;
        content: " ";
        background-image: url("#{$images}/icons/toc-icon.svg");
        transition: all 0.3s ease-in-out;
        background-color: #87888c;
        background-repeat: no-repeat;
        background-position: center center;
        border-radius: 0.2rem;
        z-index: 10;

        &:hover {
            opacity: 1;
        }
    }
}

.renvm .section.section--renvm {
    background-image: url("#{$images}/renvm-circle-lines.svg");
    background-color: #fcfcfd;
    background-repeat: no-repeat;
    background-position: center right;

    .featured--content p {
        font-size: 1.8rem;
        color: #87888c;
    }

    .featured--buttons {
        margin-top: 6rem;
        margin-bottom: 6rem;

        .featured--button {
            padding: 0 2rem;
        }
    }
}

.renvm .section.section--story .row {
    & > div {
        @include col-xs-12();
        @include col-lg-6();
    }
}

.renvm .story--sidebar {
    @include flex();
    text-align: center;
    flex-direction: column-reverse;
    margin-top: 5rem;

    @media (min-width: $min-md) {
        margin-top: 15rem;
        flex-direction: column;
    }

    img {
        max-width: 100%;
    }

    .story--sidebar--buttons {
        margin-bottom: 10rem;

        & > div {
            padding: 4rem 0;
            border: solid 0.1rem #dbe0e8;
            margin: auto;
            width: 40rem;
            border-radius: 0.6rem;
            margin-bottom: 1rem;

            h2 {
                color: #585861;
                font-size: 1.8rem;
                font-weight: 500;
                margin-bottom: 2.5rem;
            }
        }
    }
}

.story--sidebar--buttons {
    .story--in-action {
        background-color: #fcfcfc;
    }
}

.renvm .renvm--story {
    h1 {
        font-size: 3.2rem;
        font-weight: 500;
        color: #3f3f48;
        margin-top: 5rem;
        margin-bottom: 2.5rem;
    }

    h2 {
        font-size: 2.7rem;
        font-weight: 500;
        color: #3f3f48;
        margin: 2rem 0;
    }

    h3 {
        font-size: 2.2rem;
        font-weight: 500;
        color: #585861;
        margin: 1.5rem 0;
    }

    p {
        font-size: 1.8rem;
        line-height: 3rem;
        color: #87888c;
        margin-bottom: 1rem;
    }
}

.renvm .renvm--toc {
    padding: 3.5rem;
    box-shadow: 0.1rem 0 0.2rem 0 rgba(0, 27, 58, 0.12);

    h1 {
        font-size: 2.2rem;
        font-weight: 500;
        color: #585861;
    }

    /* Core Styles */

    // To leverage the native smooth-scrolling by the browser (currently available in Firefox 36+ and Chrome 49+)
    // body, .smooth-container { scroll-behavior: smooth }

    .toc {
        overflow-y: auto;
    }

    .toc > .toc-list {
        overflow: hidden;
        position: relative;

        li {
            list-style: none;
        }
    }

    .toc-list-item a {
        color: #585861;
        font-size: 1.4rem;
        font-weight: 500;
        padding: 0.6rem 0;
        padding-right: 4rem;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        position: relative;

        &:hover {
            background-color: #FCFCFD;
        }

        &::before {
            content: '';
        }

        &.node-name--H2, &.node-name--H3 {
            color: #9FA0A5;
        }

        &.is-active-link {
            color: #006fe8;

            &::after {
                background-color: #006fe8;
                content: " ";
                display: inline-block;
                height: 0.1rem;
                left: 0;
                margin-top: 0.8rem;
                position: absolute;
                width: 3rem;
            }
        }

        &.node-name--H1::before {
            margin-right: 4rem;
        }

        &.node-name--H2::before {
            margin-right: 5rem;
        }

        &.node-name--H3::before {
            margin-right: 6rem;
        }
    }

    .toc-list {
        margin: 0;
    }

    .is-collapsible {
        max-height: 1000px;
        overflow: hidden;
        transition: all 300ms ease-in-out;
    }

    .is-collapsed {
        max-height: 0;
    }

    .is-position-fixed {
        position: fixed !important;
        top: 0;
    }
}

.renvm .renvm--toc--contents {
    padding: 2rem 0;
}

.renvm .renvm--toc--footer {
    @include flex();
    flex-direction: column;
    border-top: solid 0.1rem #EBEDF2;
    padding-top: 0.5rem;

    & > div {
        @include flex();
        justify-content: space-between;

        a.button {
            width: 50%;
            margin: 0.5rem;
            background: white;
            color: #006FE8;
            font-size: 1.6rem;
            font-weight: 500;
            border: solid 0.1rem #DBE0E8;
            border-radius: 0.4rem;
        }
    }

    .footer--bottom {
        padding-top: 0.5rem;
        font-size: 1.4rem;
        font-weight: 500;
    }

    .help--button {
        @include flex();

        img {
            width: 1.5rem;
            margin-right: 1rem;
        }
    }

    .copy--social a {
        color: #87888C;
    }
}
