@import '../node_modules/tocbot/src/scss/tocbot-core';
@import '../node_modules/tocbot/src/scss/tocbot-default-theme';

.renvm {
    // Fix for fixed header
    h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
        display: block;
        content: " ";
        height: 8rem;
        margin-top: -8rem;
        visibility: hidden;
    }
}

.renvm .renvm--toc {
    position: fixed;
    background: white;
    top: 50%;
    left: 0;
    z-index: 999;
    width: 40rem;
    transition: all 0.3s ease-in-out;

    &.hidden {
        margin-left: -40rem;
        .toc--button {
            opacity: 0.5;
            background-color: #006FE8;
        }
    }

    .toc--button {
        cursor: pointer;
        position: absolute;
        right: -5rem;
        top: 2rem;
        content: ' ';
        background-image: url('#{$images}/icons/toc-icon.svg');
        transition: all 0.3s ease-in-out;
        height: 4rem;
        width: 5rem;
        background-color: #87888C;
        background-repeat: no-repeat;
        background-position: center center;
        border-radius: 0.2rem;

        &:hover {
            opacity: 1;
        }
    }
}

.renvm .section.section--renvm {
    background-image: url('#{$images}/renvm-circle-lines.svg');
    background-color: #FCFCFD;
    background-repeat: no-repeat;
    background-position: center right;

    .featured--content p {
        font-size: 1.8rem;
        color: #87888C;
    }

    .featured--buttons {
        margin-top: 6rem;
        margin-bottom: 6rem;

        .featured--button {
            padding: 0 2rem;
        }
    }
}
