$images: 'styles/images';
$fonts: 'styles/fonts';

$navy: #02051A;
$blue: #006FE8;
$light-grey: #9FA0A5;
$grey: #58585B;
$dark-grey: #3F3F41;
$off-white: #FAFAFA;
$border: rgba(88, 88, 91, 0.1);

$cubic-bezier: cubic-bezier(0.8, 0, 0.2, 1);